version: "3.4"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  identifier:
    image: semtech/mu-identifier:1.9.1
    environment:
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"}]'
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.1
    volumes:
      - ./config/dispatcher:/config
    restart: always
    logging: *default-logging
  frontend:
    image: kanselarij/frontend-themis:0.3.6
    restart: always
    logging: *default-logging
  database:
    image: semtech/mu-authorization:0.6.0-beta.6
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
      DATABASE_COMPATIBILITY: "Virtuoso"
      DATABASE_OVERLOAD_RECOVERY: "on"
    volumes:
      - ./config/authorization:/config
    restart: always
    logging: *default-logging
  delta-notifier:
    image: semtech/mu-delta-notifier:0.1.0
    volumes:
      - ./config/delta:/config
    restart: always
    logging: *default-logging
  virtuoso:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.2
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/public"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.7.0
    links:
      - virtuoso:database
    volumes:
      - ./config/migrations:/data/migrations
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:1.20.0
    volumes:
      - ./config/resources:/config
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    restart: always
    logging: *default-logging
  file:
    image: semtech/mu-file-service:3.1.2
    volumes:
      - ./data/files:/share
    restart: always
    logging: *default-logging
  uri-info:
    image: redpencil/mu-uri-info-service:0.2.0
    restart: always
    logging: *default-logging
  resource-labels-cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource-labels:backend
    restart: always
    logging: *default-logging
  resource-labels:
    image: lblod/resource-label-service:0.2.0
    environment:
      DEFAULT_LANGUAGE: "nil"
    restart: always
    logging: *default-logging
  publication-consumer:
    image: kanselarij/themis-publication-consumer:2.0.0
    volumes:
      - ./data/downloaded-publications:/tmp
      - ./data/files:/share
    restart: always
    logging: *default-logging
  themis-same-as:
    image: kanselarij/themis-same-as-service:0.3.0
    restart: always
    logging: *default-logging
  dcat-dataset-publication:
    image: kanselarij/dcat-dataset-publication-service:0.2.0
    volumes:
      - ./data/files:/share
    restart: always
    logging: *default-logging
